<!DOCTYPE html>
<html>
	<head>
		<meta chatset='utf-8' />
		<title>Welcome to pretty php.</title>
        <style type="text/css">
        section div {
            margin: 10px 10px;
        }
        </style>
	</head>
	<body>
		<h1>Hello world!</h1>
        <section>
            <div>This is a default page.</div>
            <div>Create IndexAction.class.php in your action folder.</div>
            <div>If you are runing our sample site. You shold be able to access <a href="index.php/hello_world">Hello world(index.php/hello_world) </a> and <a href="index.php/foo/bar">foo bar (index.php/foo/bar)</a> .</div>
            <div>You can copy example.htaccess as your default rewirte rule if rewrite is supported.</div>
            <div>Then you try <a href="hello_word">${yourdomain}/hello_world, ${yourdomain}/helloWorld</a>&nbsp;&nbsp;<a href="foo/bar">${yourdomain}/foo/bar</a> </div>
        </section>
	</body>
</html>
